# ======================================
# Python
# ======================================
venv/
__pycache__/
*.pyc

# ======================================
# Environment variables
# ======================================
.env

# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/

# ======================================
# Weights & Biases
# ======================================
wandb/

# ======================================
# ML Outputs
# ======================================
outputs/checkpoints/
outputs/logs/
outputs/generations/

# ======================================
# DATASETS
# ======================================
data/
datasets/

# ======================================
# Protein structures
# ======================================
*.pdb
*.cif

# ======================================
# Embeddings / tensors
# ======================================
*.pt
*.pth
*.npy
*.npz
*.pkl

# ======================================
# Figures / plots
# ======================================
figures/
plots/

# ======================================
# Logs
# ======================================
logs/
*.log

# ======================================
# VSCode
# ======================================
.vscode/